@page
@model OdeToFood.Pages.Restaurants.ListModel
@{
}
<link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />

<h1>Restaurants!!!</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group mb-3">
            <input type="search" class="form-control" placeholder="Input name..." aria-label="Search" aria-describedby="basic-addon2" value="" name="searchTerm" />
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </div>
</form>

<table class="table">
    @foreach (var restaurant in Model.Restaurants)
    {
        <tr>
            <td>@restaurant.Name</td>
            <td>@restaurant.Location</td>
            <td>@restaurant.Cuisine</td>
        </tr>
    }
</table>

<div>@Model.Message</div>
